body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1f1f1f;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#word-container {
    margin: 20px 0;
    font-size: 24px;
    text-align: center;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#guess-input {
    margin-right: 10px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: #555;
    color: #fff;
    width: 60%;
}

#guess-input::placeholder {
    color: #ccc;
}

#guess-btn {
    background-color: #6b5b95;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

#guess-btn:hover {
    background-color: #563d7c;
}

#hint {
    font-size: 18px;
    margin-top: 20px;
    color: #6b5b95;
}

#hint-text {
    font-weight: bold;
}

#message {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: #ff7070;
}

#play-again-btn {
    display: block;
    margin: 0 auto;
    background-color: #6b5b95;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

#play-again-btn:hover {
    background-color: #563d7c;
}
